.portfolio {
  display: flex;
  flex-direction: column;
  margin: 110px 0 0;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0;
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0 0;
  padding: 0;
  list-style-type: none;
}

.portfolio__link-item {
  padding-bottom: 19px;
  border-bottom: solid 1px #e6e6e6;
}

.portfolio__link-item:last-of-type {
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  margin: 0;
  color: black;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link-icon {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .portfolio {
    margin: 90px 0 0;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__link-icon {
    font-size: 27px;
    line-height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    margin: 70px 0 0;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__links {
    margin: 40px 0 0;
  }
}

@media screen and (max-width: 540px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
  .portfolio__link-icon {
    font-size: 18px;
    line-height: 28px;
  }
}
