.saved-movies-content {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}

@media screen and (max-width: 768px) {
  .saved-movies-content {
    margin: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .saved-movies-content {
    margin: 0 10px;
  }
}
