.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 270px;
  height: 151px;
  object-fit: cover;
}

.card__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 14px 0 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #e8e8e8;
}

.card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.card__button {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50px;
  background: #f5f5f5;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.card__button:hover {
  opacity: 0.7;
}

.card__button_type_like {
  background-image: url(../../../images/like-movie.svg);
}

.card__button_type_like-active {
  background-image: url(../../../images/like-movie-active.svg);
}

.card__button_type_delete {
  background-image: url(../../../images/delete-movie.svg);
}

.card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  margin-top: 6px;
}
